<div class="flex h-screen flex-row justify-center items-center">
	<app-loader [isLoading]="showLoader"></app-loader>
	<ng-container #dialogContainer></ng-container>
	<div class="lg:mx-auto lg:w-full lg:max-w-sm">
		<img
			class="h-10 w-auto mx-auto my-4 fill-black"
			src="/assets/images/logo-dark.png"
			alt="Aster Pillbox"
		/>
		<div class="my-4 text-center mt-10">
			<h3 class="text-xl font-semibold leading-6 text-gray-900">
				Resetar Senha
			</h3>
			<p class="mt-2 text-sm font-light leading-5 text-gray-600">
				Favor preencher os campos abaixo para redefinir sua nova senha.
			</p>
		</div>

		<!-- Form -->
		<form
			class="space-y-6"
			[formGroup]="resetPasswordForm"
			(ngSubmit)="onSubmitResetPasswordForm()"
		>
			<!-- password -->
			<div>
				<label
					for="password"
					class="block text-sm font-semibold leading-6 text-gray-900"
					>Senha Nova</label
				>
				<div class="mt-2">
					<input
						id="password-login"
						name="password"
						type="password"
						autocomplete="password"
						placeholder="Digite sua nova senha"
						formControlName="password"
						required
						class="block w-full rounded-md py-2 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-blue-700 sm:text-sm sm:leading-5"
					/>
				</div>
			</div>

			<div>
				<div>
					<label
						for="password"
						class="block text-sm font-semibold leading-6 text-gray-900"
						>Confirmar Senha</label
					>
				</div>
				<div class="mt-2">
					<input
						id="password"
						name="password"
						type="password"
						autocomplete="password"
						formControlName="passwordConfirmation"
						placeholder="Confirmar a nova senha"
						required
						class="block w-full rounded-md py-2 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-blue-700 sm:text-sm sm:leading-5"
					/>
				</div>
			</div>

			<div>
				<button
					type="submit"
					class="flex w-full justify-center rounded-md bg-blue-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-700"
				>
					Trocar de Senha
				</button>
			</div>
		</form>

		<p class="mt-10 text-center text-sm text-gray-500">
			Não tem uma conta?
			<a
				routerLink="/register"
				routerLinkActive="active"
				class="font-semibold leading-6 text-blue-700 hover:text-blue-600"
				>Clique aqui para se cadastrar</a
			>
		</p>
	</div>
</div>
