<div class="overflow-y-auto h-screen mx-auto py-10">
	<h1>Termos e Condições de Uso</h1>

	<h2>1. Introdução</h2>
	<p>
		Bem-vindo(a) ao Aster Pillbox, um aplicativo desenvolvido pela Aster
		Tech para auxiliar no gerenciamento de medicamentos e na comunicação com
		profissionais de saúde. Ao utilizar o Aster Pillbox, você concorda em
		cumprir integralmente estes Termos e Condições de Uso ("Termos").
	</p>

	<h2>2. Aceitação dos Termos</h2>
	<p>
		O uso do Aster Pillbox implica na aceitação total e irrestrita destes
		Termos. Caso você não concorde com qualquer parte destes Termos, não
		utilize o aplicativo. A Aster Tech se reserva o direito de modificar
		estes Termos a qualquer momento. É sua responsabilidade revisar
		periodicamente estes Termos para se manter atualizado(a) sobre eventuais
		alterações.
	</p>

	<h2>3. Descrição do Serviço</h2>
	<p>
		O Aster Pillbox oferece funcionalidades para auxiliar no gerenciamento
		de medicamentos, incluindo:
	</p>
	<ul>
		<li>Lembretes personalizados de medicação</li>
		<li>Registro de histórico de uso</li>
		<li>Monitoramento de estoque</li>
		<li>Informações sobre medicamentos</li>
		<li>Comunicação com profissionais de saúde</li>
	</ul>

	<h2>4. Uso Aceitável</h2>
	<p>
		Você concorda em utilizar o Aster Pillbox apenas para fins lícitos e de
		acordo com estes Termos. É proibido utilizar o aplicativo para
		atividades ilegais, fraudulentas, prejudiciais ou que violem direitos de
		terceiros.
	</p>

	<h2>5. Contas de Usuário</h2>
	<p>
		Para utilizar o Aster Pillbox, você precisará criar uma conta de
		usuário. Você é responsável por fornecer informações verdadeiras,
		precisas, atuais e completas durante o processo de registro e por manter
		a confidencialidade da sua senha.
	</p>

	<h2>6. Conteúdo do Usuário</h2>
	<p>
		Você é o único responsável pelo conteúdo que enviar, publicar ou exibir
		no Aster Pillbox, incluindo informações de saúde, registros de medicação
		e mensagens. Você declara ter todos os direitos necessários para
		compartilhar esse conteúdo e que ele não viola direitos de terceiros.
	</p>

	<h2>7. Propriedade Intelectual</h2>
	<p>
		O Aster Pillbox e todo o seu conteúdo, incluindo código-fonte, design,
		logotipos, marcas registradas e outros elementos, são propriedade
		exclusiva da Aster Tech e protegidos por direitos autorais e outras leis
		de propriedade intelectual. É proibido copiar, reproduzir, modificar,
		distribuir ou utilizar qualquer parte do aplicativo sem a autorização
		prévia e por escrito da Aster Tech.
	</p>

	<h2>8. Privacidade</h2>
	<p>
		A Aster Tech valoriza a sua privacidade. A coleta, uso e proteção dos
		seus dados pessoais são regidos pela nossa
		<a routerLink="/privacy-policy">Política de Privacidade</a>.
	</p>

	<h2>9. Isenção de Responsabilidade</h2>
	<p>
		O Aster Pillbox é fornecido "no estado em que se encontra", sem
		garantias de qualquer tipo, expressas ou implícitas. A Aster Tech não se
		responsabiliza por quaisquer danos diretos, indiretos, incidentais,
		especiais ou consequenciais decorrentes do uso ou da incapacidade de
		usar o aplicativo.
	</p>
</div>
