/* Card */
.card-reminder {
	position: relative;

	background-color: white;
	border-radius: 20px;
	border: 1px solid gray;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	/* width - sidenav- padding left - userinfo - gap - padding right */
	/* width: calc(100vw - 260px - 16px - 300px - 16px - 16px); */
	width: 300px;
	height: 300px;
}

/* ActionButton */
.action-button {
	display: fixed;
	padding: 8px 16px;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	margin: 8px;
	filter: invert(100%);
}

.action-button:hover {
	opacity: 0.6;
}

/* CardBody */
.card-body {
	margin-top: 20px;
	height: calc(100% - 40px);
	width: 100%;
	overflow: scroll;
	overflow-x: hidden;

	scrollbar-width: inherit;
	scrollbar-color: #c1c1c1 #f0f0f0;
}
