<div #toastContainer></div>
<div #dialogContainer></div>
<app-loader [isLoading]="loading"></app-loader>
<div class="container-pillbox">
	<div class="header">
		<img
			class="logo"
			src="../../../assets/images/perfil-icon.svg"
			alt="Logo"
		/>
		<div class="title-and-subtitle-container">
			<h1 class="title">Adicionar Novo Pillbox</h1>
			<h3 class="subtitle">
				Insira corretamente o formato da sua pillbox para garantir uma
				gestão eficaz do seu tratamento. <br />
			</h3>
		</div>
	</div>

	<form
		class="form-container"
		[formGroup]="pillboxForm"
		(ngSubmit)="onSubmitPillboxForm()"
	>
		<!-- Name Pillbox & Lines & Columns-->
		<div class="form-row">
			<div class="w-full">
				<div>
					<label
						for="name"
						class="block text-base font-semibold leading-6 text-gray-900"
						>Nome da Pillbox</label
					>
				</div>
				<div class="mt-2">
					<input
						id="name"
						name="name"
						type="text"
						placeholder="O Nome que quer colocar para Pillbox"
						formControlName="name"
						required
						class="block w-full rounded-md py-2 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-blue-700 sm:text-sm sm:leading-5"
					/>
				</div>
			</div>

			<div class="w-full">
				<div>
					<label
						for="row_size"
						class="block text-base font-semibold leading-6 text-gray-900"
						>Quantas Linhas tem a Pillbox</label
					>
				</div>
				<div class="mt-2">
					<input
						id="row_size"
						name="row_size"
						type="number"
						placeholder="Número de Linhas"
						formControlName="row_size"
						required
						class="block w-full rounded-md py-2 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-blue-700 sm:text-sm sm:leading-5"
					/>
				</div>
			</div>

			<div class="w-full">
				<div>
					<label
						for="column_size"
						class="block text-base font-semibold leading-6 text-gray-900"
					>
						Quantas Colunas tem a Pillbox</label
					>
				</div>
				<div class="mt-2">
					<input
						id="column_size"
						name="column_size"
						type="number"
						placeholder="Número de Colunas"
						formControlName="column_size"
						required
						class="block w-full rounded-md py-2 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-blue-700 sm:text-sm sm:leading-5"
					/>
				</div>
			</div>
		</div>

		<!-- MAC Address & Status -->
		<div class="form-row">
			<div class="w-full">
				<div>
					<label
						for="mac"
						class="block text-base font-semibold leading-6 text-gray-900"
					>
						Qual o endereço MAC do seu Dispositivo?(Opcional)</label
					>
				</div>
				<div class="mt-2">
					<input
						id="mac"
						name="mac"
						type="text"
						placeholder="Exemplo: 00-B0-D0-63-C2-26"
						formControlName="mac"
						required
						class="block w-full rounded-md py-2 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-blue-700 sm:text-sm sm:leading-5"
					/>
				</div>
			</div>

			<div class="w-full">
				<div>
					<label
						for="status"
						class="block text-sm font-semibold leading-6 text-gray-900"
						>Dispositivo está ativo?</label
					>
				</div>
				<!-- Single Select -->
				<select
					class="mt-2 block w-full rounded-md py-2 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-blue-700 sm:text-sm sm:leading-5"
					data-toggle="select"
					formControlName="status"
					name="status"
					id="status"
					required
				>
					<option [ngValue]="true">Sim</option>
					<option [ngValue]="false">Não</option>
				</select>
			</div>
		</div>

		<app-medicine-case-pillbox
			class="mt-4 w-full"
			[titleLabel]="'O formato da sua caixa de medicamentos.'"
			[columns]="pillboxForm.value.column_size!"
			[rows]="pillboxForm.value.row_size!"
		></app-medicine-case-pillbox>

		<!-- Button Cancel & Save -->
		<div class="form-row mt-4">
			<button
				type="button"
				routerLink="/dashboard"
				routerLinkActive="active"
				class="flex w-1/12 justify-center rounded-md bg-gray-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-700"
			>
				Cancelar
			</button>
			<button
				type="submit"
				class="flex w-1/12 justify-center rounded-md bg-blue-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-700"
			>
				Salvar
			</button>
		</div>
	</form>
</div>
