<div
	class="container-card-info-user flex flex-col items-center justify-center text-gray-900"
>
	<img
		src="{{ user.image_url }}"
		alt="Imagem do usuário"
		class="card-info-user-image"
	/>
	<button
		class="action-button"
		[routerLink]="'/dashboard/perfil'"
		routerLinkActive="active"
	>
		<app-icon
			[src]="'../../../../assets/images/edit-icon.svg'"
			class="edit-icon"
			[alt]="'Editar'"
		></app-icon>
	</button>
	<div class="text-center my-2 w-auto">{{ user.name }}</div>
	<div class="card-info-user-divider"></div>
	<span class="card-info-user-description"
		>Idade: <span class="text-black font-bold"> {{ user.age }}</span> |
		Sangue: <span class="text-black font-bold"> {{ user.blood }}</span> |
		Sexo: <span class="text-black font-bold"> {{ user.gender }}</span></span
	>
	<div class="card-info-user-stats">
		<div class="stat-item">
			<span class="stat-label text-blue-600">Altura</span>
			<span class="stat-value">{{ user.height }} cm</span>
		</div>
		<div class="stat-item">
			<span class="stat-label text-blue-600">Peso</span>
			<span class="stat-value">{{ user.weight }} kg</span>
		</div>
	</div>
</div>
