<div class="widget-container">
	<h3 class="widget-title">Medicamentos</h3>

	<div class="header">
		<div class="column-name">Nome</div>
		<div class="column-alarms">Alarmes</div>
		<div class="column-quantity">Quantidade</div>
		<div class="column-compartiment">Compartimento(s)</div>
	</div>

	<div class="medications-alarms-body">
		<div class="medication-row">
			<div class="medication-name">Paracetamol</div>
			<div class="medication-alarms">10:30, 11:00</div>
			<div class="medication-quantity">3</div>
			<div class="medication-compartment">2</div>
		</div>
		<div class="medication-row">
			<div class="medication-name">Paracetamol</div>
			<div class="medication-alarms">10:30, 11:00</div>
			<div class="medication-quantity">3</div>
			<div class="medication-compartment">2</div>
		</div>
		<div class="medication-row">
			<div class="medication-name">Paracetamol</div>
			<div class="medication-alarms">10:30, 11:00</div>
			<div class="medication-quantity">3</div>
			<div class="medication-compartment">2</div>
		</div>
		<div class="medication-row">
			<div class="medication-name">Paracetamol</div>
			<div class="medication-alarms">10:30, 11:00</div>
			<div class="medication-quantity">3</div>
			<div class="medication-compartment">2</div>
		</div>
		<div class="medication-row">
			<div class="medication-name">Paracetamol</div>
			<div class="medication-alarms">10:30, 11:00</div>
			<div class="medication-quantity">3</div>
			<div class="medication-compartment">2</div>
		</div>

		<div class="medication-row">
			<div class="medication-name">Paracetamol</div>
			<div class="medication-alarms">10:30, 11:00</div>
			<div class="medication-quantity">3</div>
			<div class="medication-compartment">2</div>
		</div>
		<div class="medication-row">
			<div class="medication-name">Paracetamol</div>
			<div class="medication-alarms">10:30, 11:00</div>
			<div class="medication-quantity">3</div>
			<div class="medication-compartment">2</div>
		</div>
		<div class="medication-row">
			<div class="medication-name">Paracetamol</div>
			<div class="medication-alarms">10:30, 11:00</div>
			<div class="medication-quantity">3</div>
			<div class="medication-compartment">2</div>
		</div>
		<div class="medication-row">
			<div class="medication-name">Paracetamol</div>
			<div class="medication-alarms">10:30, 11:00</div>
			<div class="medication-quantity">3</div>
			<div class="medication-compartment">2</div>
		</div>
	</div>
</div>
