<ng-template #toastContainer></ng-template>
<app-loader [isLoading]="loading"></app-loader>
<ng-template #dialogContainer></ng-template>
<div class="container-perfil">
	<div class="header">
		<img
			class="logo"
			src="../../../assets/images/perfil-icon.svg"
			alt="Logo"
		/>
		<div class="title-and-subtitle-container">
			<h1 class="title">Suas informaçoes de perfil</h1>
			<h3 class="subtitle">
				Aqui você pode editar suas informações de perfil e seus dados
				pessoais.
			</h3>
		</div>
	</div>

	<div
		[className]="
			this.disableButtonImage ? 'image-form-disable' : 'image-form-enable'
		"
	>
		<form [formGroup]="imageForm" (ngSubmit)="uploadImage()">
			<div class="w-full">
				<label
					for="image"
					class="block text-base font-semibold leading-6 text-gray-900"
					>Selecionar Imagem de Perfil</label
				>
			</div>
			<label
				for="fileInput"
				class="inline-block rounded-md bg-blue-600 px-4 py-2 mt-2 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-700 cursor-pointer"
			>
				Selecionar Imagem de Perfil
			</label>
			<input
				id="fileInput"
				name="fileInput"
				class="hidden"
				type="file"
				(change)="onFileSelected($event)"
				accept=".png, .svg, .jpeg"
				formGroupName="image"
			/>
			@if (errorMessage) {
			<div class="error-message">{{ errorMessage }}</div>
			}
		</form>
	</div>

	<form
		[className]="
			this.disableButtonImage
				? 'form-container-disable'
				: 'form-container-enable'
		"
		[formGroup]="userForm"
		(ngSubmit)="onSubmitUserForm()"
	>
		<!-- Name & Email & CPF-->
		<div class="form-row">
			<div class="w-full">
				<div>
					<label
						for="name"
						class="block text-base font-semibold leading-6 text-gray-900"
						>Nome</label
					>
				</div>
				<div class="mt-2">
					<input
						id="name"
						name="name"
						type="text"
						autocomplete="name"
						placeholder="Seu Nome"
						formControlName="name"
						required
						class="block w-full rounded-md py-2 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-blue-700 sm:text-sm sm:leading-5"
					/>
				</div>
			</div>

			<div class="w-full">
				<div>
					<label
						for="email"
						class="block text-base font-semibold leading-6 text-gray-900"
						>Email</label
					>
				</div>
				<div class="mt-2">
					<input
						id="email"
						name="email"
						type="email"
						placeholder="Seu Email"
						formControlName="email"
						[readonly]="true"
						class="block w-full rounded-md py-2 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 read-only:bg-gray-50 read-only:text-gray-500 read-only:ring-gray-500 read-only:border-gray-500 cursor-default sm:text-sm sm:leading-5"
					/>
				</div>
			</div>

			<div class="w-full">
				<div>
					<label
						for="cpf_or_id_number"
						class="block text-base font-semibold leading-6 text-gray-900"
						>CPF ou RG</label
					>
				</div>
				<div class="mt-2">
					<input
						id="cpf_or_id_number"
						name="cpf_or_id_number"
						type="text"
						mask="000.000.000-00"
						autocomplete="username"
						placeholder="Seu CPF ou RG"
						formControlName="cpf_or_id_number"
						required
						class="block w-full rounded-md py-2 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-blue-700 sm:text-sm sm:leading-5"
					/>
				</div>
			</div>
		</div>

		<!-- Phone & Birth -->
		<div class="form-row">
			<div class="w-full">
				<div>
					<label
						for="phone_number"
						class="block text-sm font-semibold leading-6 text-gray-900"
						>Telefone</label
					>
				</div>
				<div class="mt-2">
					<input
						id="phone_number"
						name="phone_number"
						type="tel"
						mask="(00) 0 0000-0000"
						autocomplete="phone_number"
						placeholder="Seu Telefone"
						formControlName="phone_number"
						required
						class="block w-full rounded-md py-2 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-blue-700 sm:text-sm sm:leading-5"
					/>
				</div>
			</div>
			<div class="w-full">
				<div>
					<label
						for="date_of_birth"
						class="block text-sm font-semibold leading-6 text-gray-900"
						>Data de Nascimento</label
					>
				</div>
				<div class="mt-2">
					<input
						id="date_of_birth"
						name="date_of_birth"
						type="date"
						autocomplete="date_of_birth"
						placeholder="Sua Data de Nascimento"
						formControlName="date_of_birth"
						required
						class="block w-full rounded-md py-2 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-blue-700 sm:text-sm sm:leading-5"
					/>
				</div>
			</div>
		</div>

		<!-- Sex & BloodType -->
		<div class="form-row">
			<div class="w-full">
				<div>
					<label
						for="genre"
						class="block text-sm font-semibold leading-6 text-gray-900"
						>Sexo:</label
					>
				</div>
				<!-- Single Select -->
				<select
					class="mt-2 block w-full rounded-md py-2 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-blue-700 sm:text-sm sm:leading-5"
					data-toggle="select"
					formControlName="genre"
					name="genre"
					id="genre"
					required
				>
					<option value="M">Homem</option>
					<option value="F">Mulher</option>
				</select>
			</div>
			<div class="w-full">
				<div>
					<label
						for="blood_type"
						class="block text-sm font-semibold leading-6 text-gray-900"
						>Tipo Sanguíneo:</label
					>
				</div>
				<!-- Single Select -->
				<select
					id="blood_type"
					name="blood_type"
					formControlName="blood_type"
					required
					data-toggle="select"
					class="mt-2 block w-full rounded-md py-2 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-blue-700 sm:text-sm sm:leading-5"
				>
					<option value="">Selecione</option>
					<option value="AB+">AB+</option>
					<option value="AB-">AB-</option>
					<option value="A">A+</option>
					<option value="A-">A-</option>
					<option value="B+">B+</option>
					<option value="B-">B-</option>
					<option value="O+">O+</option>
					<option value="O-">O-</option>
				</select>
			</div>
		</div>

		<!-- Weight & Height -->
		<div class="form-row">
			<div class="w-full">
				<div>
					<label
						for="weight"
						class="block text-sm font-semibold leading-6 text-gray-900"
						>Peso</label
					>
				</div>
				<div class="mt-2">
					<input
						id="weight"
						name="weight"
						type="text"
						autocomplete="weight"
						placeholder="Seu Peso"
						formControlName="weight"
						required
						class="block w-full rounded-md py-2 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-blue-700 sm:text-sm sm:leading-5"
					/>
				</div>
			</div>
			<div class="w-full">
				<div>
					<label
						for="height"
						class="block text-sm font-semibold leading-6 text-gray-900"
						>Altura</label
					>
				</div>
				<div class="mt-2">
					<input
						id="height"
						name="height"
						type="text"
						mask="0,00"
						autocomplete="height"
						placeholder="Seu Peso"
						formControlName="height"
						required
						class="block w-full rounded-md py-2 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-blue-700 sm:text-sm sm:leading-5"
					/>
				</div>
			</div>
		</div>

		<!-- NeedACaretaker & Screen for elder -->
		<div class="form-row">
			<div class="w-full">
				<div>
					<label
						for="need_a_caretaker"
						class="block text-sm font-semibold leading-6 text-gray-900"
						>Necessita de Cuidador?</label
					>
				</div>
				<!-- Single Select -->
				<select
					class="mt-2 block w-full rounded-md py-2 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-blue-700 sm:text-sm sm:leading-5"
					data-toggle="select"
					formControlName="need_a_caretaker"
					name="need_a_caretaker"
					id="need_a_caretaker"
					required
				>
					<option [ngValue]="true">Sim</option>
					<option [ngValue]="false">Não</option>
				</select>
			</div>

			<div class="w-full">
				<div>
					<label
						for="screen_for_elder"
						class="block text-sm font-semibold leading-6 text-gray-900"
						>Tela precisa ser adaptada para Idoso?</label
					>
				</div>
				<!-- Single Select -->
				<select
					class="mt-2 block w-full rounded-md py-2 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-blue-700 sm:text-sm sm:leading-5"
					data-toggle="select"
					formControlName="screen_for_elder"
					name="screen_for_elder"
					id="screen_for_elder"
					required
				>
					<option [ngValue]="true">Sim</option>
					<option [ngValue]="false">Não</option>
				</select>
			</div>
		</div>

		<!-- Button Cancel & Save -->
		<div class="form-row mt-4">
			<button
				routerLink="/dashboard"
				routerLinkActive="active"
				type="button"
				class="flex auto justify-center rounded-md bg-gray-500 px-4 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-700"
			>
				Cancelar
			</button>
			<button
				type="submit"
				class="flex justify-center rounded-md bg-blue-600 px-4 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-700"
			>
				{{ createNewUser ? "Salvar" : "Atualizar" }}
			</button>
		</div>
	</form>
</div>
