.sidenav-container {
	background-color: #313a46;
	font-size: 30px;
	height: 100vw;
	width: 260px;
	padding: 16px 0;
	text-align: center;
}

.sidenav-content {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: end;
	height: 100%;
}
