<div class="sidenav-container">
	<div class="sidenav-content">
		<div class="w-full">
			<app-button-menu
				[description]="'Dashboard'"
				[selected]="menuSelected === 'Dashboard'"
				(click)="onMenuSelected('Dashboard')"
			>
				<app-icon
					[src]="'/assets/images/dashboard-icon.svg'"
					[alt]="'image dashboard'"
					[classes]="'h-6 w-6 ml-2 mr-2'"
				/>
			</app-button-menu>

			<app-button-menu
				[description]="'Perfil'"
				[selected]="menuSelected === 'Perfil'"
				(click)="onMenuSelected('Perfil')"
			>
				<app-icon
					[src]="'/assets/images/perfil-icon.svg'"
					[alt]="'image perfil'"
					[classes]="'h-6 w-6 ml-2 mr-2'"
				/>
			</app-button-menu>

			<app-button-menu
				[description]="'Caixa de Medicamentos'"
				[selected]="menuSelected === 'Pillbox'"
				(click)="onMenuSelected('Pillbox')"
			>
				<app-icon
					[src]="'/assets/images/add-circle-icon.svg'"
					[alt]="'image add pillbox'"
					[classes]="'h-6 w-6 ml-2 mr-2'"
				/>
			</app-button-menu>

			<app-button-menu
				[description]="'Lista das Caixas de Medicamentos'"
				[selected]="menuSelected === 'List Pillboxes'"
				(click)="onMenuSelected('List Pillboxes')"
			>
				<app-icon
					[src]="'/assets/images/settings-icon.svg'"
					[alt]="'image settings'"
					[classes]="'h-6 w-6 ml-2 mr-2'"
				/>
			</app-button-menu>

			<app-button-menu
				[description]="'Lista de Pacientes'"
				[selected]="menuSelected === 'List Patients'"
				(click)="onMenuSelected('List Patients')"
			>
				<app-icon
					[src]="'/assets/images/settings-icon.svg'"
					[alt]="'image settings'"
					[classes]="'h-6 w-6 ml-2 mr-2'"
				/>
			</app-button-menu>

			<app-button-menu
				[description]="'Lista de Medicamentos'"
				[selected]="menuSelected === 'List Medications'"
				(click)="onMenuSelected('List Medications')"
			>
				<app-icon
					[src]="'/assets/images/settings-icon.svg'"
					[alt]="'image settings'"
					[classes]="'h-6 w-6 ml-2 mr-2'"
				/>
			</app-button-menu>

			<app-button-menu
				[description]="'Adicionar Medicamentos'"
				[selected]="menuSelected === 'Add Medication'"
				(click)="onMenuSelected('Add Medication')"
			>
				<app-icon
					[src]="'/assets/images/medication-icon.svg'"
					[alt]="'image add medication'"
					[classes]="'h-6 w-6 ml-2 mr-2'"
				/>
			</app-button-menu>

			<app-button-menu
				[description]="'Atualizar Medicamentos'"
				[selected]="menuSelected === 'Update Medication'"
				(click)="onMenuSelected('Update Medication')"
			>
				<app-icon
					[src]="'/assets/images/medication-icon.svg'"
					[alt]="'image add medication'"
					[classes]="'h-6 w-6 ml-2 mr-2'"
				/>
			</app-button-menu>

			<app-button-menu
				[description]="'Relatório'"
				[selected]="menuSelected === 'Report'"
				(click)="onMenuSelected('Report')"
			>
				<app-icon
					[src]="'/assets/images/medication-icon.svg'"
					[alt]="'image add medication'"
					[classes]="'h-6 w-6 ml-2 mr-2'"
				/>
			</app-button-menu>

			<!-- <app-button-menu
			[description]="'Informações Gerais'"
			[selected]="menuSelected === 'Information'"
			(click)="onMenuSelected('Information')"
		>
			<app-icon
				[src]="'/assets/images/info-icon.svg'"
				[alt]="'image info'"
				[classes]="'h-6 w-6 ml-2 mr-2'"
			/>
		</app-button-menu>

		<app-button-menu
			[description]="'Feedback'"
			[selected]="menuSelected === 'Feedback'"
			(click)="onMenuSelected('Feedback')"
		>
			<app-icon
				[src]="'/assets/images/feedback-icon.svg'"
				[alt]="'image feedback'"
				[classes]="'h-6 w-6 ml-2 mr-2'"
			/>
		</app-button-menu> -->

			<app-button-menu
				[description]="'Configurações'"
				[selected]="menuSelected === 'Settings'"
				(click)="onMenuSelected('Settings')"
			>
				<app-icon
					[src]="'/assets/images/settings-icon.svg'"
					[alt]="'image settings'"
					[classes]="'h-6 w-6 ml-2 mr-2'"
				/>
			</app-button-menu>

			<app-button-menu
				[description]="'Suporte'"
				[selected]="menuSelected === 'Support'"
				(click)="onMenuSelected('Support')"
			>
				<app-icon
					[src]="'/assets/images/help-icon.svg'"
					[alt]="'image help'"
					[classes]="'h-6 w-6 ml-2 mr-2'"
				/>
			</app-button-menu>
		</div>

		<app-button-menu
			[description]="'Sair'"
			[selected]="menuSelected === 'Logout'"
			(click)="onMenuSelected('Logout')"
		>
			<app-icon
				[src]="'/assets/images/logout-icon.svg'"
				[alt]="'image logout'"
				[classes]="'h-6 w-6 ml-2 mr-2'"
			/>
		</app-button-menu>
	</div>
</div>
