/* ListItem */
.list-item {
	border: 1px solid #ddd; /* Substituir pelo valor da cor gray3 do seu tema */
	display: flex;
	position: relative;
	padding: 10px;
	margin: 16px 0;
	flex-direction: column;
	border-radius: 10px;
	height: 60px;
	margin-bottom: 20px;
}

/* Title */
.title {
	font-size: 18px;
	color: #212529; /* Substituir pelo valor da cor gray9 do seu tema */
}

/* Subtitle */
.subtitle {
	font-size: 12px;
	color: #6c757d; /* Substituir pelo valor da cor gray5 do seu tema */
}

/* CheckIcon */
.check-icon {
	width: 20px;
	height: 20px;
	background-size: cover; /* Se você estiver usando uma imagem de fundo */
	position: absolute;
	bottom: 10px;
	right: 10px;
}
