.grid-container {
	display: grid;
	grid-template-columns: 260px auto;
	grid-template-rows: 70px auto;

	grid-template-areas:
		"ST TB"
		"SN DC";

	height: 100vh;
}

.grid-dashboard-content {
	grid-area: DC;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}
