<div class="dashboard-container">
	<!-- Loader e Containers de Toast/Dialog -->
	<app-loader [isLoading]="showLoader"></app-loader>
	<div #toastContainer></div>
	<div #dialogContainer></div>

	<!-- Primeira seção: Informações do usuário e Calendário semanal -->
	<div class="dashboard-row primary">
		<app-card-info-user
			class="card-component"
			[user]="userInfo"
		></app-card-info-user>
		<app-calendar-week class="card-component"></app-calendar-week>
	</div>

	<!-- Segunda seção: Lista de medicamentos e Caixa de medicamentos -->
	<div class="dashboard-row secondary">
		<app-list-medications class="card-component"></app-list-medications>
		<app-card-medication-pillbox
			class="card-component"
		></app-card-medication-pillbox>
	</div>
</div>
