<div class="calendar-card">
	<!-- Cabeçalho do calendário -->
	<div class="calendar-header">
		<h2 class="calendar-title">
			{{ weekDays[0].date | date : "MMMM yyyy" }}
		</h2>

		<div class="week-grid">
			@for (day of weekDays; track $index) {
			<div
				class="day-item"
				[class.selected]="isSameDay(day.date, selectedDate)"
				(click)="onDayClick(day)"
				tabindex="0"
				role="button"
				[attr.aria-label]="
					'Selecionar ' + day.dayName + ', ' + (day.date | date : 'd')
				"
			>
				<div class="day-name">
					{{ day.dayName }}
				</div>
				<div class="day-number">
					{{ day.date | date : "d" }}
				</div>
			</div>
			}
		</div>
	</div>

	<!-- Conteúdo do calendário -->
	@if (selectedDate) {
	<div class="calendar-content">
		@if (getMedicationsForDay(selectedDate).length == 0) {
		<div class="empty-state">
			<svg
				class="empty-icon"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke="currentColor"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
				/>
			</svg>
			<p class="empty-message">Sem medicamentos para hoje</p>
		</div>
		} @else {
		<div class="medication-list">
			@for (medication of getMedicationsForDay(selectedDate); track
			$index) {
			<div class="medication-group">
				@for (time of medication.alarms; track $index) {
				<div
					class="medication-item"
					[ngClass]="getAlarmStatusClass(time)"
				>
					<div class="medication-header">
						<div class="medication-info">
							<h3 class="medication-name">
								{{ medication.name.toUpperCase() }}
							</h3>
							<div class="medication-time">{{ time }}</div>
						</div>
					</div>

					<div class="medication-details">
						<div class="detail-item">
							<div class="detail-label">Compartimento</div>
							<div class="detail-value">
								{{ medication.compartiment }}
							</div>
						</div>

						<div class="detail-item">
							<div class="detail-label">Quantidade</div>
							<div class="detail-value">
								{{ medication.quantity }}
							</div>
						</div>
					</div>

					<button
						type="button"
						class="take-button"
						(click)="
							onTakeMedication(
								medication.id,
								medication.quantity,
								time
							)
						"
						[attr.aria-label]="
							'Tomar ' + medication.name + ' às ' + time
						"
					>
						<svg
							width="20"
							height="20"
							viewBox="0 0 24 24"
							fill="currentColor"
						>
							<path
								d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"
							/>
						</svg>
						Tomar Agora
					</button>
				</div>
				}
			</div>
			}
		</div>
		}
	</div>
	}
</div>
