<div class="calendar-container">
	<div class="header">
		<button class="navigation-button"><</button>
		<div class="month-year-title">Junho 2024</div>
		<button class="navigation-button">></button>
	</div>

	<div class="week-container">
		<div class="day">Sexta<br />20</div>
		<div class="day">Sexta<br />20</div>
		<div class="day">Sexta<br />20</div>
		<div class="day">Sexta<br />20</div>
		<div class="day">Sexta<br />20</div>
		<div class="day">Sexta<br />20</div>
		<div class="day">Sexta<br />20</div>
	</div>
	<div class="week-body">
		<app-calendar-week-item></app-calendar-week-item>
		<app-calendar-week-item></app-calendar-week-item>
		<app-calendar-week-item></app-calendar-week-item>
		<app-calendar-week-item></app-calendar-week-item>
		<app-calendar-week-item></app-calendar-week-item>
	</div>
</div>
