<div
	class="dashboard-layout"
	[class.collapsed]="isCollapsed"
	[class.mobile-open]="isMobileMenuOpen"
>
	<!-- Logo Sidebar -->
	<app-sidenav-title-dashboard [isCollapsed]="isCollapsed">
	</app-sidenav-title-dashboard>

	<!-- Toolbar -->
	<app-toolbar-dashboard
		[isCollapsed]="isCollapsed"
		[isMobileMenuOpen]="isMobileMenuOpen"
		(toggleMobileMenu)="toggleMobileMenu()"
		(toggleTheme)="toggleTheme()"
	>
	</app-toolbar-dashboard>

	<!-- Sidebar -->
	<app-sidenav-dashboard
		[isCollapsed]="isCollapsed"
		[isMobileMenuOpen]="isMobileMenuOpen"
		(toggleCollapse)="toggleCollapse()"
		(closeMobileMenu)="closeMobileMenu()"
	>
	</app-sidenav-dashboard>

	<!-- Overlay para mobile -->
	<div
		class="sidebar-overlay"
		[class.active]="isMobileMenuOpen"
		(click)="closeMobileMenu()"
	></div>

	<!-- Conteúdo principal -->
	<div class="main-content">
		<router-outlet></router-outlet>
	</div>
</div>
