.toolbar-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	padding: 0px 16px;
	width: calc(100vw - 260px);
	box-sizing: border-box;
	background-color: #313a46;
	color: white;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.85);
}

.toolbar-group-start {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	margin-left: 16px;
}

.group-header-title {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 5px;
	height: 100%;
	margin-left: 16px;
}

h1 {
	margin: 0;
	font-size: 24px;
}

.toolbar-group-end {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
	width: max-content;
	margin-right: 16px;
}

.info-user-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-left: 10px;
	height: 100%;
	width: 200px;
}

.info-user-container-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: white;
}

.info-user-container-text {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 5px;
	height: 100%;
	width: 100%;
}

.name {
	font-size: 12px;
	font-weight: bold;
	margin: 0;
}

.role {
	font-size: 12px;
}
