<div class="grid-toolbar-container">
	<div class="toolbar-group-start">
		<button
			mat-icon-button
			class=""
			aria-label="Example icon-button with menu icon"
		>
			<app-icon
				[src]="'/assets/images/menu-icon.svg'"
				[alt]="'menu icon'"
				[classes]="'h-6 w-6 ml-4 mr-2'"
			/>
		</button>
		<div class="group-header-title col">
			<h1>Dashboard</h1>
		</div>
	</div>
	<div class="toolbar-group-end">
		<!-- Notifications -->
		<button
			mat-icon-button
			class="example-icon"
			aria-label="Example icon-button with menu icon"
		>
			<app-icon
				[src]="'/assets/images/notification-icon.svg'"
				[alt]="'notification icon'"
				[classes]="'h-6 w-6 ml-4 mr-2'"
			/>
		</button>

		<!-- Theme -->
		<button
			mat-icon-button
			class="example-icon"
			aria-label="Example icon-button with menu icon"
			(click)="toggleTheme()"
		>
			<app-icon
				[src]="srcImage"
				[alt]="'menu icon'"
				[classes]="'h-6 w-6 ml-4 mr-2'"
			/>
		</button>

		<!-- Settings -->
		<button
			mat-icon-button
			class="example-icon"
			aria-label="Example icon-button with menu icon"
		>
			<!-- <mat-icon>settings</mat-icon> -->
			<app-icon
				[src]="'/assets/images/settings-icon.svg'"
				[alt]="'settings icon'"
				[classes]="'h-6 w-6 ml-4 mr-2'"
			/>
		</button>

		<!-- Info User  -->
		<div class="info-user-container">
			<img
				class="info-user-container-img"
				src="assets/images/perfil-icon.svg"
				alt="image perfil"
			/>
			<div class="info-user-container-text">
				<span class="name">Sidnei de Souza Junior</span>
				<span class="role">Admin</span>
			</div>
		</div>
	</div>
</div>
