<ng-template #toastContainer></ng-template>
<div class="container-patients">
	<h2 class="font-bold text-2xl pb- 4">Lista de Pacientes</h2>

	<!-- Table Medications -->
	<div class="relative mt-4 rounded-lg overflow-x-hidden border-2">
		<table class="min-w-full divide-y divide-gray-200">
			<thead class="bg-gray-50 sticky top-0 z-10">
				<tr>
					<th
						scope="col"
						class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
					>
						Nome
					</th>
					<th
						scope="col"
						class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
					>
						Idade
					</th>
					<th
						scope="col"
						class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
					>
						Gênero
					</th>
					<th
						scope="col"
						class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
					>
						Caixa de Medicamentos
					</th>
					<th
						scope="col"
						class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
					>
						Ativado
					</th>
					<th
						scope="col"
						class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
					>
						Ação
					</th>
				</tr>
			</thead>
			<tbody class="bg-white divide-y divide-gray-200">
				<tr *ngFor="let patient of patients; let i = index">
					<td class="px-6 py-4 whitespace-nowrap">
						{{ patient.name }}
					</td>
					<td class="px-6 py-4 whitespace-nowrap">
						{{ patient.age }}
					</td>
					<td class="px-6 py-4 whitespace-nowrap">
						{{ patient.genre }}
					</td>
					<td class="px-6 py-4 whitespace-nowrap">
						{{ patient.namePillBox }}
					</td>
					<td class="px-6 py-4 whitespace-nowrap">
						{{ patient.status }}
					</td>
					<td class="px-6 py-4">
						<a
							href="#"
							class="font-medium text-blue-600 dark:text-blue-500 hover:text-blue-300"
							>Editar</a
						>
						<a
							href="#"
							class="font-medium text-red-600 dark:text-red-500 pl-4 hover:text-red-300"
							>Remover</a
						>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<nav
		class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4"
		aria-label="Table navigation"
	>
		<span
			class="text-base font-normal text-gray-500 dark:text-gray-400 mb-4 md:mb-0 block w-full md:inline md:w-auto"
			>Showing
			<span class="font-semibold text-gray-900 dark:text-black"
				>1-10</span
			>
			of
			<span class="font-semibold text-gray-900 dark:text-black"
				>1000</span
			></span
		>
		<ul class="inline-flex -space-x-px rtl:space-x-reverse text-base h-8">
			<li>
				<a
					href="#"
					class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
					><</a
				>
			</li>
			<li>
				<a
					href="#"
					class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
					>1</a
				>
			</li>
			<li>
				<a
					href="#"
					class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
					>2</a
				>
			</li>
			<li>
				<a
					href="#"
					aria-current="page"
					class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
					>3</a
				>
			</li>
			<li>
				<a
					href="#"
					class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
					>4</a
				>
			</li>
			<li>
				<a
					href="#"
					class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
					>5</a
				>
			</li>
			<li>
				<a
					href="#"
					class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
					>></a
				>
			</li>
		</ul>
	</nav>
</div>
