<div class="overflow-y-auto h-screen mx-auto py-10">
	<h1>Termos de Uso (EULA)</h1>

	<p>
		Este Contrato de Licença de Usuário Final ("EULA") é um acordo legal
		entre você ("Usuário") e a <strong>Aster Tech</strong> ("Desenvolvedor")
		para o uso do aplicativo <strong>Aster Pillbox</strong> ("Aplicativo").
		Ao instalar, copiar ou utilizar o Aplicativo, você concorda em cumprir
		integralmente os termos deste EULA.
	</p>

	<h2>1. Concessão de Licença</h2>
	<p>
		A Aster Tech concede ao Usuário uma licença limitada, não exclusiva e
		intransferível para utilizar o Aplicativo exclusivamente para fins
		pessoais e não comerciais, de acordo com os termos deste EULA.
	</p>

	<h2>2. Restrições</h2>
	<p>O Usuário concorda em não:</p>
	<ul>
		<li>
			Modificar, adaptar, traduzir ou criar obras derivadas do Aplicativo;
		</li>
		<li>
			Distribuir, sublicenciar, vender, alugar ou transferir o Aplicativo
			para terceiros;
		</li>
		<li>
			Realizar engenharia reversa, descompilar ou desmontar o Aplicativo,
			exceto se permitido por lei;
		</li>
		<li>
			Utilizar o Aplicativo de maneira que viole qualquer lei ou
			regulamento aplicável.
		</li>
	</ul>

	<h2>3. Propriedade Intelectual</h2>
	<p>
		Todos os direitos de propriedade intelectual, incluindo, mas não se
		limitando a, direitos autorais, marcas registradas e patentes,
		relacionados ao Aplicativo são de propriedade exclusiva da Aster Tech.
		Nenhuma parte deste EULA concede ao Usuário qualquer direito sobre a
		propriedade intelectual do Aplicativo.
	</p>

	<h2>4. Atualizações e Modificações</h2>
	<p>
		A Aster Tech pode, a seu exclusivo critério, fornecer atualizações,
		correções e outras modificações ao Aplicativo. Essas atualizações
		estarão sujeitas aos termos deste EULA, a menos que novos termos sejam
		fornecidos junto com a atualização.
	</p>

	<h2>5. Coleta e Uso de Dados</h2>
	<p>
		A Aster Tech pode coletar informações e dados relacionados ao uso do
		Aplicativo conforme descrito em nossa
		<a routerLink="/privacy-policy">Política de Privacidade</a>. Ao usar o
		Aplicativo, você consente com a coleta, armazenamento e uso de suas
		informações pessoais em conformidade com essa política.
	</p>

	<h2>6. Limitação de Responsabilidade</h2>
	<p>
		O Aplicativo é fornecido "no estado em que se encontra", sem garantias
		de qualquer tipo, expressas ou implícitas. A Aster Tech não se
		responsabiliza por quaisquer danos diretos, indiretos, incidentais,
		especiais ou consequenciais resultantes do uso ou da incapacidade de
		usar o Aplicativo.
	</p>

	<h2>7. Rescisão</h2>
	<p>
		Este EULA será válido até ser rescindido. O Desenvolvedor pode rescindir
		este EULA a qualquer momento se o Usuário violar qualquer termo. Após a
		rescisão, o Usuário deve desinstalar e cessar o uso do Aplicativo
		imediatamente.
	</p>

	<h2>8. EULA da Apple</h2>
	<p>
		Além deste EULA, ao utilizar o aplicativo, o Usuário está sujeito ao
		<a
			href="https://www.apple.com/legal/internet-services/itunes/dev/stdeula/"
			target="_blank"
		>
			EULA padrão da Apple </a
		>.
	</p>

	<h2>9. Jurisdição e Legislação Aplicável</h2>
	<p>
		Este EULA será regido pelas leis do Brasil, e qualquer disputa será
		resolvida nos tribunais competentes do Brasil.
	</p>

	<h2>10. Disposições Gerais</h2>
	<p>
		Se qualquer disposição deste EULA for considerada inválida ou
		inexequível, as disposições restantes continuarão em pleno vigor e
		efeito.
	</p>
</div>
