/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

html,
body {
	max-height: 100vh;
	max-width: 100vw;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #6c757d;
}

.grid-template-container {
	display: grid;
	grid-template-columns: 260px auto;
	grid-template-rows: 70px auto;

	grid-template-areas:
		"ST TB"
		"SN DC";

	height: 100vh;
}

.grid-dashboard-content {
	grid-area: DC;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}
